<!DOCTYPE >
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <meta name="format-detection" content="telephone=no" />
    <title></title>
    <script src="https://cdn.jsdelivr.net/npm/preloadjs@1/lib/preloadjs.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios@0/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6/dist/vue.js"></script>
    <link rel="stylesheet" href="//at.alicdn.com/t/font_853029_92cps0fkeyi.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vant@1/lib/index.css" />
    <link rel="stylesheet" href="css/basic.css" />
    <link rel="stylesheet" href="css/index.css" />
  </head>

  <body>
    <div id="h5">
      <!-- 首页 -->
      <transition name="fade">
        <div v-show="bIndexV" class="page--index"></div>
      </transition>

      <!-- 加载页 -->
      <van-popup v-model="bLoadV" :close-on-click-overlay="false" :overlay-style="{backgroundColor:'#fff'}">
        <van-circle v-model="nLoadNum" :text="nLoadNum.toFixed(0) + '%'" :rate="0"></van-circle>
      </van-popup>
    </div>

    <audio src="media/music.mp3" id="music" preload autoplay loop></audio>
    <button class="btn--music iconfont i-music-on" onclick="toggleMusic(this)"></button>

    <script src="https://cdn.jsdelivr.net/npm/vant@1/lib/vant.min.js"></script>
    <script src="js/components.js"></script>
    <script src="js/index.js"></script>
  </body>
</html>
